// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.products {
	table {
		border-collapse: collapse;
	}

	table tr td {
		padding: 5px;
		vertical-align: top;
	}

	.list_image {
		width: 60px;
		height: 70px;
	}

	.list_description {
		width: 60%;

		dl {
			margin: 0;
		}

		dt { 
			color:			#244;
			font-weight:	bold;
			font-size:		larger;
		}

		dd {
			margin:	0;
		}
	}

	.list_actions {
		font-size: 		x-small;
		text-align:		right;
		padding-left:	lem;
	}

	.list_line_even {
		background:		#E0F8F8;
	}

	.list_line_odd {
		background: 	#F8B0F8;
	}


	.comments_area {
		border-top: 1px dashed gray;

		.comment_item {
			margin-top: 10px;
			background-color: #efe;
			//border-bottom: 1px solid #9c9;
			//border-radius: 5px;
			padding: 5px;
		}

		.comment_user {
			text-align: center;
			vertical-align: middle;
			background-color: #9C9;
			padding: 10px;
		}

	}

}


